{
    "api": "url",
    "authors": [ 
        {
            "name": "nombre",
            "github": "url"
        },
        {
            "name": "nombre",
            "github": "url"
        },
        {
            "name": "nombre",
            "github": "url"
        },
        {
            "name": "nombre",
            "github": "url"
        }
    ]
}